<link rel = "stylesheet" href = "/public/style.css">
{{> navigationBarPartial}}
  <div class="page-container">
  <div class="page-content">
    <div id="coursepage">
      <h2>{{course.courseName}}</h2>
      <h3>{{course.courseCode}}</h3>
      <p>Credits: {{course.credits}}</p>
      <p>Level: {{course.classLevel}}</p>
      <p>Web Section: {{course.webSection}}</p>
      <div class="professors">
        <p>Professors: {{!-- {{#each course.professors}}{{this}}{{/each}} --}}</p>
        {{!-- <table class="table" id="professor">
          {{#each course.professors}}
          <tr>
            <td><a target="_blank" href="">{{this}}</a></td>
          </tr>
          {{/each}}
        </table> --}}
        <ul>
          {{#each course.professors}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="description">
        <p>{{course.description}}</p>
      </div>
      <div id="reviews">
        <h2 id="ratings">Reviews:</h2>
        <p><a href = "/review/{{course.courseCode}}">Leave a review</a></p>
        {{#if rating}}
        <h4>Average Rating: {{course.avgRating}}</h3>
        {{else}}
        <h4>Average Rating: N/A</h4>
        {{/if}}
        {{#each review}}
        <div class="indivReview">
          <p>Review posted by {{this.authorName}} on {{this.datePosted}}</p>
          <p>Tags</p>
          <ul>
            {{#each this.tags}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
          <p>Rating: {{this.rating}}</p>
          <p>Review: {{this.review}}</p>
          <div class="comments">
            <p>Comments:</p>
            {{#each review.comments}}
            <div class="singleComment">
              <p>{{this.datePosted}}</p>
              <p>{{this.comment}}</p>
            </div>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  </div>
{{> constScriptsPartial}}
{{> footerPartial}}