<!DOCTYPE html>
<html>
<head>
<title>Course Info</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "/public/courseInfo.css">
{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel = "stylesheet" href = "public/style.css"> --}}
</head>
{{> navigationBarPartial}}
<body>
  <div class="page-container">
  <dl>
    <dt>Course Name:</dt>
    <dd>{{course.courseName}} </dd>
    <dt>Course Code:</dt>
     <dd> {{course.courseCode}} </dd>
     <dt>Credits:</dt>
     <dd>{{course.credits}} </dd>
    <dt>Professors:</dt>
    <dd>{{course.professors}} </dd>
    <dt>Level:</dt>
    <dd>{{course.classLevel}}</dd>
    <dt>Rating:</dt>
    <dd>{{course.rating}} </dd>
    <div class = "desc">
    <dt >Description:</dt>
    <dd>{{course.description}}</dt>
    </div>
    <dt>Web Section:</dt>
    <dd>{{course.webSection}}<dd>
  </dl>
  <a href = "/review/{{code}}">Make a review!</a>

  </div>
  {{> constScriptsPartial}}
  {{> footerPartial}}
</body>
</html>
