<!DOCTYPE html>
<html>
<head>
    <title>RateMyCourse</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/public/main.css">    
    <link rel = "stylesheet" href = "/public/style.css">    
</head>
<body>
 {{> navigationBarPartial}}
  <div class="page-container">
  <div class="page-content">
    <h1>Rate My Course</h1>
    <h1><small>For all your student needs</small></h1>
    <br>
<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row text-white">
                <div class="col-sm-6 offset-sm-3 text-center">
                    <div class="info-form">
                        <form action="/search" class="form-inlin justify-content-center" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input id = "searchInput" type="text" class="form-control" placeholder="Search Courses by name or Code" name="searchInput" required>
                                <br>
                                <button type="submit" class="btn btn-success">Search!</button>
                            </div>
                            {{#if errors2}}
                            <p>Error: Course does not exist</p>
                            {{/if}}
                          </div>
                          <p>Top Rated Course</p>
                          <div class = "topRated">
                          <form action="/review" method="GET" name = "topRated2" enctype="application/x-www-form-urlencoded">
                            <dt>Course Name:</dt>
                            <dd>{{course.courseName}} </dd>
                            <dt>Course Code:</dt>
                             <dd> {{course.courseCode}} </dd>
                             <dt>Credits:</dt>
                             <dd>{{course.credits}} </dd>
                             <dt>Level:</dt>
                             <dd>{{course.classLevel}}</dd>
                             <dt>Rating:</dt>
                             <dd>{{course.rating}} </dd>
                          </form>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
</div>
</div>
{{> constScriptsPartial}}
{{> footerPartial}}
</body>
</html>
