<!DOCTYPE html>
<html>
<head>
<title>Profile Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel = "stylesheet" href = "public/review.css">
</head>
{{> navigationBarPartial}}
<body>
  <dl>
    <dt>Username:</dt>
    <dd>{{username}} </dd>
    <dt>FirstName:</dt>
     <dd> {{firstName}} </dd>
    <dt>Lastname:</dt>
    <dd>{{lastName}} </dd>
    <dt>Reviews:</dt>
    <dd>{{reviews}} </dd>
    <dt>Comments:</dt>
    <dd>{{comments}} </dd>
  </dl>
  <a href = "/logout">Logout!</a>
{{> constScriptsPartial}}
<<<<<<< HEAD
</body>
=======
>>>>>>> e629e257bbe1553043c08d5883beb451548c4804
{{> footerPartial}}
</html>
