{{> navigationBarPartial}}
  <dl>
    <dt>First Name:</dt>
     <dd> {{user.firstName}} </dd>
    <dt>Last Name:</dt>
    <dd>{{user.lastName}} </dd>
    <dt>Email: </dt>
    <dd>{{user.email}}</dd>
    <dt>Reviews:</dt>
    <dd>{{user.reviews}} </dd>
    <dt>Comments:</dt>
    <dd>{{user.comments}} </dd>
  </dl>
  <a href = "/logout">Logout!</a>
{{> constScriptsPartial}}
{{> footerPartial}}
<script src="tota11y.min.js"></script>