<!DOCTYPE html>
<html>
<head>
<title>Profile Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel = "stylesheet" href = "/public/main.css">        
{{!-- <link rel = "stylesheet" href = "public/review.css"> --}}
</head>
<body>
{{> navigationBarPartial}}
  <dl>
    <dt>First Name:</dt>
     <dd> {{user.firstName}} </dd>
    <dt>Last Name:</dt>
    <dd>{{user.lastName}} </dd>
    <dt>Email: </dt>
    <dd>{{user.email}}</dd>
    <dt>Reviews:</dt>
    <dd>{{user.reviews}} </dd>
    <dt>Comments:</dt>
    <dd>{{user.comments}} </dd>
  </dl>
  <a href = "/logout">Logout!</a>
{{> constScriptsPartial}}
{{> footerPartial}}
</body>
</html>
