<!DOCTYPE html>
<html>
<head>
<title>Profile Page</title>
</head>
{{> navigationBarPartial}}
<body>
  <dl>
    <dt>Username:</dt>
    <dd>{{username}} </dd>
    <dt>FirstName:</dt>
     <dd> {{firstName}} </dd>
    <dt>Lastname:</dt>
    <dd>{{lastName}} </dd>
    <dt>Reviews:</dt>
    <dd>{{reviews}} </dd>
    <dt>Comments:</dt>
    <dd>{{comments}} </dd>
  </dl>
  <a href = "/logout">Logout!</a>
</body>
{{> constScriptsPartial}}
</html>
