    <link rel = "stylesheet" href = "/public/style.css">
{{> navigationBarPartial}}
<div class="page-container">
    <div class="page-content">
    <h1>Review {{code}}</h1>
    <form action="/review/{{code}}" method ="POST" id="ratings-form">
    {{!-- <h1 name="courseCode">Review {{code}}</h1> --}}
    <div class = "course">
        <label for = "courseCode">Course Code: </label>
        <input type = "text" name="courseCode" class = "form-control" id = "coursecodeInput" value= "{{code}}" readonly>
    </div>
    <br>
    <div class = "rating">
        <label for = "rating">Overall Rating (1-5): </label>
        <input align = "left" type = "number" name="rating" value="{{review.rating}}" class = "form-control" id = "ratingInput" min="1" max="5">
    </div>
    <br>
    <div class = "tags">
        <label for = "tag[]">Tags</label>
        <label id="hw">Homework</label>
            <input type = "checkbox" id = "hw1" name="tag" value="Homework is easy">Easy</input>
            <input type = "checkbox" id = "hw2" name="tag" value="Homework is hard">Hard</input>
            <input type = "checkbox" id = "hw3" name="tag" value="Lots of homework">Lots of homework</input>
            <input type = "checkbox" id = "hw4" name="tag" value="Not a lot of homework">Not a lot of homework</input>
        <label id="test">Tests</label>
            <input type = "checkbox" id = "test1" name="tag" value="Tests are easy">Easy</input>
            <input type = "checkbox" id = "test2" name="tag" value="Tests are hard">Hard</input>
        <label id="lecture">Lectures</label>
            <input type = "checkbox" id = "lectures1" name="tag" value="Lectures are boring">Boring</input>
            <input type = "checkbox" id = "lectures2" name="tag" value="Lectures are interesting">Interesting</input>
    </div>
    <br>

    <div align = "center" class = "professors">
        <label for = "professor">Professor:</label> <br>
        <select name="professor" required>
            {{#each course.professors}}
            <option selected id = "{{this}}" value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>
    <br>
    <div class="review">
        <label for="commentLabel">Review</label>
        <textarea class="form-control" name="comment" rows="5" id="commentLabel">{{review.body}}</textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-danger">Submit</button>
    </form>
    {{#if hasErrors}}
    <ul class="error-list">
    {{#each errors}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
    {{/if}}
    </div>
    </div>
    {{> constScriptsPartial}}
{{> footerPartial}}