<div class = "row">
  <div class = "col">
<form action="/review" method="GET" name = "topRated2" enctype="application/x-www-form-urlencoded">
  <dt>Author:</dt>
  <dd>{{ratings.Author}} </dd>
  <dt>Course Code:</dt>
   <dd> {{ratings.courseCode}} </dd>
   <dt>Date Posted:</dt>
   <dd>{{ratings.datePosted}} </dd>
   <dt>Rating:</dt>
   <dd>{{ratings.Rating}}</dd>
   <dt>Review:</dt>
   <dd>{{course.Review}} </dd>
    <p><a href = "/comment"> Write a comment</a></p>
</form>
</div>
<div class = "col">
<form action="/review" method="GET" name = "topRated2" enctype="application/x-www-form-urlencoded">
<dt>Author:</dt>
<dd>{{ratings.Author}} </dd>
<dt>Course Code:</dt>
 <dd> {{ratings.courseCode}} </dd>
 <dt>Date Posted:</dt>
 <dd>{{ratings.datePosted}} </dd>
 <dt>Rating:</dt>
 <dd>{{ratings.Rating}}</dd>
 <dt>Review:</dt>
 <dd>{{course.Review}} </dd>
  <p><a href = "/comment"> Write a comment</a></p>
</form>
</div>
<div class = "col">
<form action="/review" method="GET" name = "topRated2" enctype="application/x-www-form-urlencoded">
<dt>Author:</dt>
<dd>{{ratings.Author}} </dd>
<dt>Course Code:</dt>
 <dd> {{ratings.courseCode}} </dd>
 <dt>Date Posted:</dt>
 <dd>{{ratings.datePosted}} </dd>
 <dt>Rating:</dt>
 <dd>{{ratings.Rating}}</dd>
 <dt>Review:</dt>
 <dd>{{course.Review}} </dd>
  <p><a href = "/comment"> Write a comment</a></p>
</form>
</div>
<div class = "col">
<form action="/review" method="GET" name = "topRated2" enctype="application/x-www-form-urlencoded">
<dt>Author:</dt>
<dd>{{ratings.Author}} </dd>
<dt>Course Code:</dt>
 <dd> {{ratings.courseCode}} </dd>
 <dt>Date Posted:</dt>
 <dd>{{ratings.datePosted}} </dd>
 <dt>Rating:</dt>
 <dd>{{ratings.Rating}}</dd>
 <dt>Review:</dt>
 <dd>{{course.Review}} </dd>
  <p><a href = "/comment"> Write a comment</a></p>
</form>
</div>
</div>


{{!-- {{#if ratings}}
  <ul> 
      {{#each ratings}}
   <li>
      <dt>Author:</dt>
      <dd>{{ratings.Author}} </dd>
      <dt>Course Code:</dt>
      <dd> {{ratings.courseCode}} </dd>
      <dt>Date Posted:</dt>
      <dd>{{ratings.datePosted}} </dd>
      <dt>Rating:</dt>
      <dd>{{ratings.Rating}}</dd>
      <dt>Review:</dt>
      <dd>{{course.Review}} </dd>
      <p><a href = "/comment"> Write a comment</a></p>
   </li>
      {{/each}}
  </ul> 
   {{/if}} --}}
